.header {
	border: 2px solid;
    border-radius: 25px;


}


p {
	text-align: center;
	clear: both;
	font-family: Papyrus;
}


h1 {
	text-align: center;
	clear: both;
	font-family: Papyrus;
	font-size: 28px;
	font-weight: 900;
}



h2 {
	text-align: center;
	clear: both;
	font-family: Papyrus;
	font-size: 26px;
	font-weight: 700;
}

h3 {
	text-align: center;
	clear: both;
	font-family: Papyrus;
	font-size: 22px;
	font-weight: 500;
}
