<h1>RAIN FOREST PRODUCTS</h1>
<i><p>we're totally not amazon</p></i>

<%= link_to("Upload New Product", new_product_path) %>

<% @products.each do |product| %>
	
	<p><%= link_to product.name, product_path(product) %></p>
	<p>Price: $<%= product.formatted_price %></p>



<% end %>
